.jumbotron {
  background-image: url("https://www.exmoor-nationalpark.gov.uk/__data/assets/image/0009/559827/Road-cycling.jpg");
  background-size: cover;
  padding-top: 5%;
  padding-bottom: 18%;

  }