.uno{
  background-color: green;
  color:white;
}
.dos{
  background-color: yellow;
}
.tres{
  background-color: orange;
}
.cuatro{
  background-color: red;
  color:black;
}
.cinco{
  background-color: blue;
  color:white;
}
.seis{
  background-color: maroon;
  color:white;

}